@model ConvenientStore.Models.MailModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Xác nhận email";
}
<style>
    .text-danger {
        color: #e74a3b !important;
    }

    a.text-danger:hover, a.text-danger:focus {
        color: #be2617 !important;
    }
    h4{
        color:blue;
    }
</style>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<body>
    <!--banner-->
    <div class="banner-top">
        <div class="container">
            <h3>Email</h3>
            <h4><a href="#">Trang chủ</a><label>/</label>Email</h4>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--login-->

    <div class="login">

        <div class="main-agileits">
            <div class="form-w3agile">
                <h4>Vui lòng cung cấp email để đặt lại mật khẩu</h4>
                <br />
                <form action="PasswordEmail" method="post" enctype="multipart/form-data">
                    <div class="key">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        @Html.TextBoxFor(model => model.To, new {placeholder = "Email", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
                        <div class="clearfix"></div>
                    </div>
                    @if (ViewBag.ThongBao != null)
                    {
                        <p style="color:red; text-align:center; margin-bottom:20px;">@ViewBag.ThongBao</p>
                    }
                    <input class="center-block" type="submit" value="Gửi" />
                </form>
            </div>
        </div>
    </div>
</body>